:root {
  --main-color: #2196F3;
  --text-color: black;
  --ph-color: #757575;
  --bg-color: #2F303A;
  --text-color-2: white;
  --title-color: #212121;
  --bg2-color: #f4f4fd;
  --svg-color: #AFB1B8;
  --svg2-color: #555555;
  --but-color: #1277ca;
  --svg3-color: #F5F4FA ;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.check, .modal-form button, .inputarea, .modal-form .label, .form1 p, .email, .form button, .form h3, .div h3, .ourteam h2, .modal-contacts a, .modal-address li:last-child a, .modal-address li:first-child a, .modal-mn a {
  font-family: "Roboto";
}

.logo1, .logo {
  font-family: "Raleway";
}

.menu {
  display: none;
}

.address {
  display: none;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.logo span {
  color: var(--main-color);
}

header {
  padding: 16px 0;
  position: relative;
  border-bottom: solid 1px #ECECEC;
}
header button {
  padding: 0;
  background: transparent;
  border: 0;
  line-height: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header button:hover, header button:focus {
  fill: var(--main-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: white;
  padding: 48px 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}
.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}
.modal-menu .modal-container {
  position: relative;
}
.modal-menu button {
  position: absolute;
  top: 0;
  right: 15px;
}

.modal-mn a {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mn a:hover, .modal-mn a:focus {
  color: var(--main-color);
}

.modal-mn li:nth-child(-n+2) {
  margin-bottom: 32px;
}

.modal-mn li:nth-child(3) {
  margin-bottom: 30vh;
}

.modal-address li:first-child {
  margin-bottom: 32px;
}

.modal-address li:last-child {
  margin-bottom: 64px;
}

.modal-address li:first-child a {
  font-style: normal;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--main-color);
}

.modal-address li:last-child a {
  font-style: normal;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--ph-color);
}

.modal-contacts {
  display: flex;
  gap: 10px;
}
.modal-contacts a {
  font-style: normal;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  color: var(--main-color);
}
.modal-contacts li:nth-child(-n+3) a {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

@media screen and (max-height: 650px) and (max-width: 400px) {
  .modal-mn a {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2333333333;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-mn a:hover, .modal-mn a:focus {
    color: var(--main-color);
  }
  .modal-mn li:nth-child(-n+2) {
    margin-bottom: 22px;
  }
  .modal-mn li:nth-child(3) {
    margin-bottom: 25vh;
  }
  .modal-address li:first-child {
    margin-bottom: 22px;
  }
  .modal-address li:last-child {
    margin-bottom: 54px;
  }
  .modal-address li:first-child a {
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
    color: var(--main-color);
  }
  .modal-address li:last-child a {
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2857142857;
    color: var(--ph-color);
  }
  .modal-contacts {
    display: flex;
    gap: 5px;
  }
  .modal-contacts a {
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2857142857;
    color: var(--main-color);
  }
  .modal-contacts li:nth-child(-n+3) a {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 5px;
  }
}
@media screen and (min-width: 768px) {
  header button {
    display: none;
  }
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 88px;
    display: flex;
    gap: 50px;
  }
  .menu a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    padding: 32px 0;
    position: relative;
  }
  .menu .st {
    color: var(--main-color);
    position: relative;
  }
  .menu .st::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    left: 0;
    background: var(--main-color);
    border-radius: 2px;
    transform: scaleX(1);
  }
  .address {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .address li:first-child {
    margin-bottom: 10px;
  }
  header {
    border-bottom: solid 1px #ECECEC;
    padding: 0;
  }
  header .container {
    display: flex;
    justify-content: space-between;
  }
  header a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  header a:hover, header a:focus {
    color: var(--main-color);
    fill: var(--main-color);
  }
  nav {
    display: flex;
    align-items: center;
  }
  .info {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--ph-color);
    fill: var(--svg2-color);
  }
  .info svg {
    width: 20px;
    height: 16px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 93px;
    display: flex;
    gap: 50px;
  }
  .menu a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    padding: 32px 0;
    position: relative;
  }
  .menu .st {
    color: var(--main-color);
    position: relative;
  }
  .menu .st::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    left: 0;
    background: var(--main-color);
    border-radius: 2px;
    transform: scaleX(1);
  }
  header {
    border-bottom: solid 1px #ECECEC;
  }
  header .container {
    display: flex;
    justify-content: space-between;
  }
  header a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  header a:hover, header a:focus {
    color: var(--main-color);
    fill: var(--main-color);
  }
  nav {
    display: flex;
    align-items: center;
  }
  .info {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--ph-color);
    fill: var(--svg2-color);
  }
  .info svg {
    width: 20px;
    height: 16px;
    margin-right: 10px;
  }
  .address {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 40px;
    margin: 0;
    align-items: center;
  }
  .address li:first-child {
    margin-bottom: 0;
  }
}
.main {
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/page1/mobilebg.jpg);
  background-size: cover;
}
.main .button {
  padding: 10px 24px;
  background-color: var(--main-color);
  border: 0;
  border-radius: 7px;
  color: var(--text-color-2);
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8125;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main .button:hover {
  background-color: var(--but-color);
  box-shadow: 3px 7px 0 rgba(0, 0, 0, 0.5);
}
.main h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  width: 22, 5em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--text-color-2);
}
.main div {
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/page1/mobilebg@2x.jpg);
    background-size: cover;
  }
}
@media screen and (max-height: 650px) and (max-width: 400px) {
  .main h1 {
    font-weight: 900;
    font-size: 20px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 768px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/page1/tabletbg.jpg);
    background-size: cover;
  }
  .main h1 {
    width: 360px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/page1/tabletbg@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/page1/desktopbg.jpg);
    padding: 200px 0;
    max-width: 1600px;
    background-repeat: no-repeat;
    margin: auto;
  }
  .main h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    width: 696px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/page1/desktopbg@2x.jpg);
    background-size: cover;
  }
}
.text {
  padding: 60px 0;
}
.text li {
  list-style-type: none;
}
.text li:nth-child(-n+3) p {
  margin-bottom: 30px;
}
.text ul div {
  width: 100%;
  height: 120px;
  background-color: var(--svg3-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.text p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--ph-color);
}

@media screen and (min-width: 768px) {
  .text {
    padding: 60px 0;
  }
  .text li {
    width: 354px;
  }
  .text li:nth-child(-n+3) p {
    margin-bottom: 0;
  }
  .text h3 {
    text-align: left;
  }
  .text ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .text ul div {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    /* display: flex;
    justify-content: space-around; */
    padding: 94px 0;
  }
  .text ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .text ul div {
    width: 270px;
  }
  .text li {
    width: 270px;
  }
}
.imeges {
  display: none;
}

@media screen and (min-width: 1200px) {
  .imeges {
    display: block;
    margin: 0 auto;
    padding-bottom: 94px;
  }
  .imeges ul {
    display: flex;
    /* justify-content: space-around; */
    padding: 0;
    gap: 30px;
    margin: 0;
  }
  .imeges p {
    position: absolute;
    bottom: 0;
    padding: 27px 0;
    width: 100%;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--text-color-2);
  }
  .imeges img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  .imeges li {
    list-style-type: none;
    position: relative;
  }
  .imeges h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin: 0;
    margin-bottom: 50px;
  }
}
.ourteam {
  background-color: var(--bg2-color);
  padding: 60px 0;
}
.ourteam h2 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  margin: 0;
  margin-bottom: 30px;
}

.block {
  width: 100%;
  background-color: var(--text-color-2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block:nth-child(-n+3) {
  margin-bottom: 30px;
}
.block img {
  display: block;
  width: 100%;
  height: auto;
}

.svg {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.svg li {
  width: 44px;
  height: 44px;
}
.svg a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--text-color-2);
  fill: var(--svg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg a:hover, .svg a:focus {
  background-color: var(--main-color);
  fill: var(--text-color-2);
}

.photo {
  padding: 30px 0 24px 0;
}
.photo h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}
.photo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--ph-color);
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .block {
    width: 354px;
  }
  .block:nth-child(-n+3) {
    margin-bottom: 0;
  }
  .block img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .ourteam {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 94px 0;
  }
  .ourteam h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
  .team {
    flex-wrap: nowrap;
  }
  .block {
    width: 270px;
  }
  .block img {
    width: 270px;
    height: 260px;
  }
  .photo {
    padding: 30px 0;
  }
}
@media screen and (max-width: 480px) {
  .customers li {
    margin: auto;
  }
}
.customers {
  padding: 60px 0;
}
.customers h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}
.customers li {
  width: 13, 125em;
  height: 5, 75em;
}
.customers ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.customers a {
  fill: var(--svg-color);
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers a:hover, .customers a:focus {
  fill: var(--main-color);
  border: 1px solid #2196F3;
}

@media screen and (min-width: 768px) {
  .customers li {
    width: 226px;
  }
  .customers a {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0;
  }
  .customers h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
  .customers li {
    width: 170px;
  }
  .customers a {
    width: 170px;
  }
  .customers ul {
    flex-wrap: nowrap;
  }
}
footer {
  background-color: var(--bg-color);
  padding: 60px 0;
  text-align: center;
}

.address1 {
  margin: 0;
  margin-top: 28px;
}
.address1 a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--text-color-2);
  opacity: 0.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address1 a:hover, .address1 a:focus {
  color: var(--main-color);
  opacity: 1;
}
.address1 li:first-child a {
  opacity: 1;
}
.address1 li:nth-of-type(-n+2) {
  margin-bottom: 12px;
}

.logo1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--text-color-2);
}
.logo1 span {
  color: var(--main-color);
}

.div {
  margin-top: 60px;
}
.div h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-2);
  margin: 0;
  margin-bottom: 20px;
}
.div ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.div a {
  width: 44px;
  height: 44px;
  fill: var(--text-color-2);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div a:hover, .div a:focus {
  background-color: var(--main-color);
}

.form {
  margin-top: 60px;
}
.form h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-2);
  margin: 0;
  margin-bottom: 20px;
}
.form button {
  padding: 10px 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.06em;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-color-2);
  border: 0;
  margin: auto;
  margin-top: 20px;
}

.email {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
}

@media screen and (min-width: 768px) {
  .section_foot {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 165px;
    justify-content: center;
  }
  .foot {
    width: 232px;
  }
  .div {
    margin-top: 0;
  }
  .form {
    margin-top: 0;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    text-align: start;
  }
  .section_foot {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
  }
  .div {
    margin-left: 70px;
    margin-right: 94px;
  }
  .form {
    width: 570px;
  }
  .form div {
    display: flex;
    gap: 12px;
  }
  .form button {
    margin-top: 0;
  }
  .email {
    width: 358px;
  }
}
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  overflow: auto;
  width: 450px;
  min-height: 609px;
  padding: 40px;
  left: 50%;
  top: 50%;
  background: var(--text-color-2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.but {
  padding: 6px 9px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--text-color-2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.but:hover, .but:focus {
  fill: var(--main-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form1 p {
  width: 370px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 12px;
}

.modal-form .label {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--ph-color);
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
  border-color: #2196F3;
  outline: none;
}
.input:focus + svg {
  fill: var(--main-color);
}

.inputarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.inputarea:focus {
  border-color: #2196F3;
  outline: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

.modal-form .span {
  position: relative;
}

.modal-form svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form .div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.div1 a {
  color: var(--main-color);
  margin-left: 3px;
}

.div1 {
  margin-bottom: 30px;
}

.modal-form button {
  display: block;
  margin: auto;
  padding: 10px 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--text-color-2);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.check {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--ph-color);
}
.check::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px solid var(--title-color);
  margin-right: 8px;
  cursor: pointer;
  border-radius: 2px;
}
.checkbox:checked + .check::before {
  background-color: var(--main-color);
  background-image: url(../imeges/page1/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
.checkbox:focus + .check::before {
  outline: 2px solid var(--main-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .form1 p {
    width: 448px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
  .check {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}/*# sourceMappingURL=main.css.map */