:root {
  --main-color: #2196F3;
  --text-color: black;
  --ph-color: #757575;
  --bg-color: #2F303A;
  --text-color-2: white;
  --title-color: #212121;
  --bg2-color: #f4f4fd;
  --svg-color: #AFB1B8;
  --svg2-color: #555555;
  --but-color: #1277ca;
  --svg3-color: #F5F4FA ;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.check, .modal-form button, .inputarea, .modal-form .label, .form1 p, .email, .form button, .form h3, .div h3, .imeges p {
  font-family: "Roboto";
}

.logo1, .logo {
  font-family: "Raleway";
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--main-color);
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 93px;
  display: flex;
  gap: 50px;
}
.menu a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding: 32px 0;
  position: relative;
}
.menu .st {
  color: var(--main-color);
  position: relative;
}
.menu .st::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  left: 0;
  background: var(--main-color);
  border-radius: 2px;
  transform: scaleX(1);
}

/* .menu li {
    display: flex;
    gap: 10px;
} */
header {
  border-bottom: solid 1px #ECECEC;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header a:hover, header a:focus {
  color: var(--main-color);
  fill: var(--main-color);
}

nav {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--ph-color);
  fill: var(--svg2-color);
}
.info svg {
  width: 20px;
  height: 16px;
  margin-right: 10px;
}

.address {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 40px;
  margin: 0;
  align-items: center;
}

/* .address li {
    display: inline-block;
    margin: 0 20px;
} */
.main {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/page1/fone.jpg);
  padding: 200px 0;
  max-width: 1600px;
  background-repeat: no-repeat;
  margin: auto;
}
.main .button {
  padding: 10px 24px;
  background-color: var(--main-color);
  border: 0;
  border-radius: 7px;
  color: var(--text-color-2);
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8125;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main .button:hover {
  background-color: var(--but-color);
  box-shadow: 3px 7px 0 rgba(0, 0, 0, 0.5);
}
.main h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
  color: var(--text-color-2);
}
.main div {
  text-align: center;
}

.text {
  /* display: flex;
  justify-content: space-around; */
  padding: 94px 0;
}
.text h3 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.text p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--ph-color);
}
.text ul {
  padding: 0;
  display: flex;
  margin: 0;
  gap: 30px;
}
.text ul div {
  width: 270px;
  height: 120px;
  background-color: var(--svg3-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text li {
  list-style-type: none;
  width: 270px;
}

.imeges {
  margin: 0 auto;
  padding-bottom: 94px;
}
.imeges ul {
  display: flex;
  /* justify-content: space-around; */
  padding: 0;
  gap: 30px;
  margin: 0;
}
.imeges p {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--text-color-2);
}
.imeges img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
.imeges li {
  list-style-type: none;
  position: relative;
}
.imeges h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 50px;
}

.ourteam {
  background-color: var(--bg2-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 94px 0;
}
.ourteam h2 {
  text-align: center;
  font-size: 36px;
  margin: 0;
  margin-bottom: 50px;
}

.team {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  gap: 30px;
}
.team ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.team img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.photo {
  padding: 30px 0;
}
.photo h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}
.photo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--ph-color);
  margin: 0;
  margin-bottom: 16px;
}

.svg li {
  width: 44px;
  height: 44px;
  list-style-type: none;
}

.svg a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--text-color-2);
  fill: var(--svg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg a:hover, .svg a:focus {
  background-color: var(--main-color);
  fill: var(--text-color-2);
}

.block {
  list-style-type: none;
  width: 270px;
  background-color: var(--text-color-2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  padding: 94px 0;
}
.customers h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111111111;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.customers li {
  list-style-type: none;
  width: 170px;
  height: 92px;
}
.customers ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 0;
  gap: 30px;
}
.customers a {
  fill: var(--svg-color);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers a:hover, .customers a:focus {
  fill: var(--main-color);
  border: 1px solid #2196F3;
}

footer {
  background-color: var(--bg-color);
  padding: 60px 0;
}

.section_foot {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* .foot {
    height: 312px;
    display: flex;
    align-items: center;
    gap: 70px;
    margin-left: 200px;
} */
.address1 {
  margin: 0;
  margin-top: 28px;
}
.address1 a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--text-color-2);
  opacity: 0.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address1 a:hover, .address1 a:focus {
  color: var(--main-color);
  opacity: 1;
}
.address1 .a {
  opacity: 1;
}
.address1 li:first-of-type {
  margin-bottom: 12px;
}
.address1 li:nth-of-type(2) {
  margin-bottom: 12px;
}

.logo1 {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: var(--text-color-2);
}
.logo1 span {
  color: var(--main-color);
}

.foot ul {
  padding: 0;
  margin: 0;
}

.foot li {
  list-style-type: none;
}

.foot h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-2);
}

.div {
  margin-left: 70px;
}
.div h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-2);
  margin: 0;
  margin-bottom: 20px;
}
.div ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.div li {
  display: flex;
}
.div a {
  width: 44px;
  height: 44px;
  /* fill: rgba(255, 255, 255, 0.1); */
  fill: var(--text-color-2);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div a:hover, .div a:focus {
  background-color: var(--main-color);
}

.form {
  margin-left: 93px;
  display: flex;
}
.form div {
  display: flex;
  gap: 12px;
}
.form h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-2);
  margin: 0;
  margin-bottom: 20px;
}
.form button {
  padding: 10px 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.06em;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-color-2);
  border: 0;
}

.email {
  width: 358px;
  padding: 15px 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  left: 50%;
  top: 50%;
  background: var(--text-color-2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.but {
  padding: 6px 9px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--text-color-2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.but:hover, .but:focus {
  fill: var(--main-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form1 p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 12px;
}

.modal-form .label {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--ph-color);
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
  border-color: #2196F3;
  outline: none;
}
.input:focus + svg {
  fill: var(--main-color);
}

.inputarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.inputarea:focus {
  border-color: #2196F3;
  outline: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

.modal-form .span {
  position: relative;
}

.modal-form svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form .div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.div1 a {
  color: var(--main-color);
  margin-left: 3px;
}

.div1 {
  margin-bottom: 30px;
}

.modal-form button {
  display: block;
  margin: auto;
  padding: 10px 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--text-color-2);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.check {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--ph-color);
}
.check::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 2px solid var(--title-color);
  margin-right: 8px;
  cursor: pointer;
  border-radius: 2px;
}
.checkbox:checked + .check::before {
  background-color: var(--main-color);
  background-image: url(../imeges/page1/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
.checkbox:focus + .check::before {
  outline: 2px solid var(--main-color);
}/*# sourceMappingURL=main.css.map */