.customers{
    padding: 60px 0;

    h2 {
        @include font(700, 28px, 33px);
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0;
    }

    li {
        width: 210px;
        height: 92px;
    }


    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    a {
        fill: var(--svg-color);
        width: 210px;
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: var(--main-color);
            border: 1px solid #2196F3;
        }
    }
}
@media screen and (min-width: 768px) {
    .customers{

        li{
            width: 226px;
        }

        a{
            width: 226px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .customers{
        padding: 94px 0;

        h2 {
            @include font(700, 36px, 42px);
            margin-bottom: 50px;
        }

        li{
            width: 170px;
        }

        a{
            width: 170px;
        }

        ul{
            flex-wrap: nowrap;
        }
    }
}