:root{
    --main-color: #2196F3;
    --text-color: black;
    --ph-color: #757575;
    --bg-color: #2F303A;
    --text-color-2: white;
    --title-color: #212121;
    --but-color: #F5F4FA;
    --svg-color: #555555;
}