:root {
    --main-color: #2196F3;
    --text-color: black;
    --ph-color: #757575;
    --bg-color: #2F303A;
    --text-color-2: white;
    --title-color: #212121;
    --bg2-color: #f4f4fd;
    --svg-color: #AFB1B8;
    --svg2-color: #555555;
    --but-color: #1277ca;
    --svg3-color: #F5F4FA
}